In [4]:
import pandas as pd
import numpy as np

In [21]:
# abrindo o arquivo .csv
cvd = pd.read_csv('C:/Data/COVID-19-global-data.csv') # 286770 8 coluns 
cvd

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
286765,2023-04-22,ZW,Zimbabwe,AFRO,2,264632,0,5685
286766,2023-04-23,ZW,Zimbabwe,AFRO,5,264637,0,5685
286767,2023-04-24,ZW,Zimbabwe,AFRO,2,264639,0,5685
286768,2023-04-25,ZW,Zimbabwe,AFRO,0,264639,0,5685
286769,2023-04-26,ZW,Zimbabwe,AFRO,0,264639,0,5685

In [22]:
# ajustando a linha mÃ¡xima permitida pelo pandas em no mÃ¡ximo 200
pd.options.display.max_rows = 200
cvd

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
286765,2023-04-22,ZW,Zimbabwe,AFRO,2,264632,0,5685
286766,2023-04-23,ZW,Zimbabwe,AFRO,5,264637,0,5685
286767,2023-04-24,ZW,Zimbabwe,AFRO,2,264639,0,5685
286768,2023-04-25,ZW,Zimbabwe,AFRO,0,264639,0,5685
286769,2023-04-26,ZW,Zimbabwe,AFRO,0,264639,0,5685

In [26]:
# exibindo o tipo dados das colunas
cvd.dtypes

Date_reported        object
Country_code         object
Country              object
WHO_region           object
New_cases             int64
Cumulative_cases      int64
New_deaths            int64
Cumulative_deaths     int64
dtype: object

In [27]:
# visualizando as primeiras 15 linhas
cvd.head(15)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
5,2020-01-08,AF,Afghanistan,EMRO,0,0,0,0
6,2020-01-09,AF,Afghanistan,EMRO,0,0,0,0
7,2020-01-10,AF,Afghanistan,EMRO,0,0,0,0
8,2020-01-11,AF,Afghanistan,EMRO,0,0,0,0
9,2020-01-12,AF,Afghanistan,EMRO,0,0,0,0
10,2020-01-13,AF,Afghanistan,EMRO,0,0,0,0
11,2020-01-14,AF,Afghanistan,EMRO,0,0,0,0
12,2020-01-15,AF,Afghanistan,EMRO,0,0,0,0
13,2020-01-16,AF,Afghanistan,EMRO,0,0,0,0
14,2020-01-17,AF,Afghanistan,EMRO,0,0,0,0

In [28]:
# visualizando as Ãºltimas 10 linhas
cvd.tail(10)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
286760,2023-04-17,ZW,Zimbabwe,AFRO,3,264613,0,5684
286761,2023-04-18,ZW,Zimbabwe,AFRO,0,264613,0,5684
286762,2023-04-19,ZW,Zimbabwe,AFRO,6,264619,0,5684
286763,2023-04-20,ZW,Zimbabwe,AFRO,4,264623,1,5685
286764,2023-04-21,ZW,Zimbabwe,AFRO,7,264630,0,5685
286765,2023-04-22,ZW,Zimbabwe,AFRO,2,264632,0,5685
286766,2023-04-23,ZW,Zimbabwe,AFRO,5,264637,0,5685
286767,2023-04-24,ZW,Zimbabwe,AFRO,2,264639,0,5685
286768,2023-04-25,ZW,Zimbabwe,AFRO,0,264639,0,5685
286769,2023-04-26,ZW,Zimbabwe,AFRO,0,264639,0,5685

In [32]:
# retornando informaÃ§Ãµes sobre as linhas
cvd.index

RangeIndex(start=0, stop=286770, step=1)

In [47]:
# retornando as colunas do arquivo como Series
col = pd.Series(cvd.columns)
col

0        Date_reported
1         Country_code
2              Country
3           WHO_region
4            New_cases
5     Cumulative_cases
6           New_deaths
7    Cumulative_deaths
dtype: object

In [48]:
# retornando as colunas do arquivo como DataFrame
col = pd.DataFrame(cvd.columns)
col

                   0
0      Date_reported
1       Country_code
2            Country
3         WHO_region
4          New_cases
5   Cumulative_cases
6         New_deaths
7  Cumulative_deaths

In [50]:
# convertento o arquivo para um Array
cvd.to_numpy()

array([['2020-01-03', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ['2020-01-04', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ['2020-01-05', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ...,
       ['2023-04-24', 'ZW', 'Zimbabwe', ..., 264639, 0, 5685],
       ['2023-04-25', 'ZW', 'Zimbabwe', ..., 264639, 0, 5685],
       ['2023-04-26', 'ZW', 'Zimbabwe', ..., 264639, 0, 5685]],
      dtype=object)

In [52]:
# retornando um resumo estatÃ­stico
cvd.describe()

          New_cases  Cumulative_cases     New_deaths  Cumulative_deaths
count  2.867700e+05      2.867700e+05  286770.000000       2.867700e+05
mean   2.665810e+03      1.250508e+06      24.114398       1.663237e+04
std    3.905500e+04      5.859306e+06     144.649623       7.126501e+04
min   -8.261000e+03      0.000000e+00   -3520.000000       0.000000e+00
25%    0.000000e+00      1.499000e+03       0.000000       1.300000e+01
50%    1.100000e+01      2.939400e+04       0.000000       3.220000e+02
75%    3.520000e+02      3.413030e+05       4.000000       4.997000e+03
max    6.966046e+06      1.030815e+08   11447.000000       1.121819e+06

In [53]:
# transpondo os dados, linha para coluna e vice versa
cvd.T

,0,1,2,3,4,5,6,7,8,9,...,286760,286761,286762,286763,286764,286765,286766,286767,286768,286769
Date_reported,2020-01-03,2020-01-04,2020-01-05,2020-01-06,2020-01-07,2020-01-08,2020-01-09,2020-01-10,2020-01-11,2020-01-12,...,2023-04-17,2023-04-18,2023-04-19,2023-04-20,2023-04-21,2023-04-22,2023-04-23,2023-04-24,2023-04-25,2023-04-26
Country_code,AF,AF,AF,AF,AF,AF,AF,AF,AF,AF,...,ZW,ZW,ZW,ZW,ZW,ZW,ZW,ZW,ZW,ZW
Country,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,...,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe
WHO_region,EMRO,EMRO,EMRO,EMRO,EMRO,EMRO,EMRO,EMRO,EMRO,EMRO,...,AFRO,AFRO,AFRO,AFRO,AFRO,AFRO,AFRO,AFRO,AFRO,AFRO
New_cases,0,0,0,0,0,0,0,0,0,0,...,3,0,6,4,7,2,5,2,0,0
Cumulative_cases,0,0,0,0,0,0,0,0,0,0,...,264613,264613,264619,264623,264630,264632,264637,264639,264639,264639
New_deaths,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
Cumulative_deaths,0,0,0,0,0,0,0,0,0,0,...,5684,5684,5684,5685,5685,5685,5685,5685,5685,5685

In [60]:
# classifica pela linha ou coluna, ordem crescente ou decrescente
cvd.sort_index(axis=0, ascending=False)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
286769,2023-04-26,ZW,Zimbabwe,AFRO,0,264639,0,5685
286768,2023-04-25,ZW,Zimbabwe,AFRO,0,264639,0,5685
286767,2023-04-24,ZW,Zimbabwe,AFRO,2,264639,0,5685
286766,2023-04-23,ZW,Zimbabwe,AFRO,5,264637,0,5685
286765,2023-04-22,ZW,Zimbabwe,AFRO,2,264632,0,5685
...,...,...,...,...,...,...,...,...
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0

In [64]:
# classificando os dados pela coluna New_cases ordenando do menor para o maior
cvd.sort_values(by="New_cases", ascending=True)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
72848,2020-09-07,EC,Ecuador,AMRO,-8261,109784,3800,10524
72725,2020-05-07,EC,Ecuador,AMRO,-2461,29420,49,1618
72727,2020-05-09,EC,Ecuador,AMRO,-1480,28818,50,1704
161435,2021-05-22,YT,Mayotte,AFRO,-875,19301,0,171
117207,2022-11-15,IN,India,SEARO,-749,44666175,1,530533
...,...,...,...,...,...,...,...,...
51906,2022-12-24,CN,China,WPRO,5669864,62445650,894,36318
51902,2022-12-20,CN,China,WPRO,5905312,37047291,360,33506
51905,2022-12-23,CN,China,WPRO,6327801,56775786,836,35424
51903,2022-12-21,CN,China,WPRO,6434648,43481939,454,33960
51904,2022-12-22,CN,China,WPRO,6966046,50447985,628,34588

In [69]:
cvd.sort_values(by="Cumulative_cases", ascending=True)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
194183,2021-08-08,PW,Palau,WPRO,0,0,0,0
194182,2021-08-07,PW,Palau,WPRO,0,0,0,0
194181,2021-08-06,PW,Palau,WPRO,0,0,0,0
194180,2021-08-05,PW,Palau,WPRO,0,0,0,0
...,...,...,...,...,...,...,...,...
274665,2023-04-22,US,United States of America,AMRO,0,103081453,0,1121819
274666,2023-04-23,US,United States of America,AMRO,0,103081453,0,1121819
274667,2023-04-24,US,United States of America,AMRO,0,103081453,0,1121819
274668,2023-04-25,US,United States of America,AMRO,0,103081453,0,1121819
274669,2023-04-26,US,United States of America,AMRO,0,103081453,0,1121819

In [105]:
# selecionando uma Ãºnica colunas
cvd['New_cases']

# outra forma
#print(cvd.New_cases)

0         0
1         0
2         0
3         0
4         0
         ..
286765    2
286766    5
286767    2
286768    0
286769    0
Name: New_cases, Length: 286770, dtype: int64

In [107]:
# retornando o registro indice 1 para indice 9
cvd[1:9]

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
5,2020-01-08,AF,Afghanistan,EMRO,0,0,0,0
6,2020-01-09,AF,Afghanistan,EMRO,0,0,0,0
7,2020-01-10,AF,Afghanistan,EMRO,0,0,0,0
8,2020-01-11,AF,Afghanistan,EMRO,0,0,0,0

In [138]:
# retornando a coluna 'Date_reported' do indice 0 Ã¡ 9 como SÃ©rie
pd.Series(cvd['Date_reported'][0:10])

0    2020-01-03
1    2020-01-04
2    2020-01-05
3    2020-01-06
4    2020-01-07
5    2020-01-08
6    2020-01-09
7    2020-01-10
8    2020-01-11
9    2020-01-12
Name: Date_reported, dtype: object

In [118]:
# retornando a coluna 'Date_reported' do indice 0 ao 9 como DataFrame
pd.DataFrame(cvd['Date_reported'][0:10])

  Date_reported
0    2020-01-03
1    2020-01-04
2    2020-01-05
3    2020-01-06
4    2020-01-07
5    2020-01-08
6    2020-01-09
7    2020-01-10
8    2020-01-11
9    2020-01-12

In [152]:
# retornando 4 colunas com nÃºmeros de linhas de indice 0 Ã¡ 100
cvd.loc[:,['Date_reported','Country_code','New_cases','New_deaths',]][0:100]

   Date_reported Country_code  New_cases  New_deaths
0     2020-01-03           AF          0           0
1     2020-01-04           AF          0           0
2     2020-01-05           AF          0           0
3     2020-01-06           AF          0           0
4     2020-01-07           AF          0           0
5     2020-01-08           AF          0           0
6     2020-01-09           AF          0           0
7     2020-01-10           AF          0           0
8     2020-01-11           AF          0           0
9     2020-01-12           AF          0           0
10    2020-01-13           AF          0           0
11    2020-01-14           AF          0           0
12    2020-01-15           AF          0           0
13    2020-01-16           AF          0           0
14    2020-01-17           AF          0           0
15    2020-01-18           AF          0           0
16    2020-01-19           AF          0           0
17    2020-01-20           AF          0           0
18    2020-01-21           AF          0           0
19    2020-01-22           AF          0           0
20    2020-01-23           AF          0           0
21    2020-01-24           AF          0           0
22    2020-01-25           AF          0           0
23    2020-01-26           AF          0           0
24    2020-01-27           AF          0           0
25    2020-01-28           AF          0           0
26    2020-01-29           AF          0           0
27    2020-01-30           AF          0           0
28    2020-01-31           AF          0           0
29    2020-02-01           AF          0           0
30    2020-02-02           AF          0           0
31    2020-02-03           AF          0           0
32    2020-02-04           AF          0           0
33    2020-02-05           AF          0           0
34    2020-02-06           AF          0           0
35    2020-02-07           AF          0           0
36    2020-02-08           AF          0           0
37    2020-02-09           AF          0           0
38    2020-02-10           AF          0           0
39    2020-02-11           AF          0           0
40    2020-02-12           AF          0           0
41    2020-02-13           AF          0           0
42    2020-02-14           AF          0           0
43    2020-02-15           AF          0           0
44    2020-02-16           AF          0           0
45    2020-02-17           AF          0           0
46    2020-02-18           AF          0           0
47    2020-02-19           AF          0           0
48    2020-02-20           AF          0           0
49    2020-02-21           AF          0           0
50    2020-02-22           AF          0           0
51    2020-02-23           AF          0           0
52    2020-02-24           AF          5           0
53    2020-02-25           AF          0           0
54    2020-02-26           AF          0           0
55    2020-02-27           AF          0           0
56    2020-02-28           AF          0           0
57    2020-02-29           AF          0           0
58    2020-03-01           AF          0           0
59    2020-03-02           AF          0           0
60    2020-03-03           AF          0           0
61    2020-03-04           AF          0           0
62    2020-03-05           AF          0           0
63    2020-03-06           AF          0           0
64    2020-03-07           AF          3           0
65    2020-03-08           AF          0           0
66    2020-03-09           AF          0           0
67    2020-03-10           AF          0           0
68    2020-03-11           AF          3           0
69    2020-03-12           AF          0           0
70    2020-03-13           AF          0           0
71    2020-03-14           AF          3           0
72    2020-03-15           AF          6           0
73    2020-03-16           AF          5           0
74    2020-03-17           AF         -1           0
75    2020-03-18           AF          0           0
76    2020-03-19           AF          0           0
77    2020-03-20           AF          0           0
78    2020-03-21           AF          0           0
79    2020-03-22           AF         10           0
80    2020-03-23           AF          6           1
81    2020-03-24           AF          2           0
82    2020-03-25           AF         32           0
83    2020-03-26           AF          6           1
84    2020-03-27           AF         11           0
85    2020-03-28           AF         15           0
86    2020-03-29           AF          8           2
87    2020-03-30           AF          0           0
88    2020-03-31           AF         52           0
89    2020-04-01           AF         26           0
90    2020-04-02           AF         43           0
91    2020-04-03           AF         34           1
92    2020-04-04           AF          1           0
93    2020-04-05           AF         29           2
94    2020-04-06           AF         38           0
95    2020-04-07           AF         30           4
96    2020-04-08           AF         56           3
97    2020-04-09           AF         21           1
98    2020-04-10           AF         77           0
99    2020-04-11           AF          0           0

In [154]:
# exportando o arquivo modelado e filtrado
varDF = cvd.loc[:,['Date_reported','Country_code','New_cases','New_deaths',]][0:100]
varDF.to_csv("C:/Data/your_name.csv")

In [181]:
# reduzindo a quantidade de linhas
cvd.loc[0:7,["Date_reported","New_cases"]]

  Date_reported  New_cases
0    2020-01-03          0
1    2020-01-04          0
2    2020-01-05          0
3    2020-01-06          0
4    2020-01-07          0
5    2020-01-08          0
6    2020-01-09          0
7    2020-01-10          0

In [ ]:
# ...Para obter um valor escalar:...